body {
	background: #818181;
}

.frame {
	min-height: 20.0em;
	border: solid 2px #000;
	margin-left: 10%;
	margin-right: 10%;
}

#banner {
	height: 10.0em;
	overflow-x: hidden;
	overflow-y: hidden;
	width: 100%;
}

#footer {
	background: url("images/banner.jpg");
	margin-top: 1.0em;
	min-height: 4.0em;
	border: solid 2px #000;
}
